body {
    /* padding-top: 15%; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

*{
  box-sizing: border-box;
}
 
.header {
  padding: 80px;
  text-align:end;
  /* background-image: url(./images/cover_page.jpg); */
  background-size: 100% 100%;
  color: white;
}
.header h1 {
  font-size: 40px;
}
.row {  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}
.side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: white;
  padding: 20px;
}
.side h2,div,p{
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}
/* Main column */
.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: lightgoldenrodyellow;
  padding: 20px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    background-color: lightseagreen;
    top: 0%;
    width: 100%;
}
  
li.active {
    background: yellowgreen;
}
  
ul.topnav li {
    float: left;
}
  
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
  
ul.topnav li a:hover {
    background-color: #555;
}
  
ul.topnav li.icon {
    float: right;
    display: none;
}
  
@media screen and (max-width:500px) {
    ul.topnav li:not(.active) {
      display: none;
    }
    ul.topnav li.icon {
      float: right;
      display: block;
    }
    ul.topnav li.active{
      background-color: lightseagreen;
    }
    ul.topnav li a:hover {
      background-color: lightsalmon;
    }
    .row {   
      flex-direction: column;
    }

}
  
  
@media screen and (max-width:500px) {
    ul.topnav.responsive {
      position: fixed;
      background-color: black;
    }
    ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.topnav.responsive li {
      float: none;
      display: inline;
    }
    ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
}
