<body>
    <div class="mainhead">
        <h1>TRACKING YOUR SHIPMENT</h1>
    </div>
    <div class="main">
        <div class="lsub"></div>
        <div class="rsub">
            <div class="box">
                <img class="logo" src="../../assets/images/logo5.jpg"/>
                <form [formGroup]="alldata" (ngSubmit)="getall()">
                        <div class="subhed">TRACKING</div>
                        <input type="text" name="txt" placeholder="Track ID" pattern="[A-Z][A-Z]{9}"
                            formControlName="tid"><br /><br />
                        <h5 style="color:red">
                            <div *ngIf="f.tid.touched && f.tid.errors?.required">
                                OrderId is required.
                            </div>
                            <div *ngIf="iderr">
                                Wrong order Id
                            </div>
                        </h5>
                        <input type="submit" value="Track">
                </form>
            </div>
        </div>
    </div>
    <div class="second">
        <div id="sec1">
         <h4 style="color: blue">TRACKING ID : {{track}}</h4>
 
        </div>
 
        <div id="sec2">
             <div>
                 <h5 style="color: blue">STATUS : {{status}}</h5>
             </div>
             <div>
                 <h5 style="color:blue">INCHARGE NO: {{phone}} </h5>
             </div>
         </div>
         <div id="sec2">
             <div>
                 <h5 style="color: blue">BOOKING DATE :{{bdate|date:'yyyy-MM-dd'}} </h5>
             </div>
             <div>
                 <h5 style="color: blue">WORKING DATE :{{ddate|date:'yyyy-MM-dd'}} </h5>
             </div>
        </div>
        <div id="sec3">
 
         <div>
             <img src="../../assets/images/firsstimge.jfif" width="80px" />
 
             <p style="color:green">START</p>
         </div>
         <div>
             <img src="../../assets/images/secimage.jfif" width="80px" />
 
             <p style="color:orange">GOING</p>
 
         </div>
         <div>
             <img src="../../assets/images/thirdimg.jfif" width="80px" />
 
             <p style="color:blue">REACH</p>
 
         </div>
         
     </div>
 
 
 
      <div class="pbar1">
        <progress class="file" value={{bar}} max="100"> 32% </progress> 
 
      </div>   
 
     </div>
 
</body>